.weather-display {
  text-align: center;
  padding: 20px; /* Add padding for spacing */
}

.weather-display h2 {
  color: black;
}

.weather-content {
  display: flex;
  color: black; /* Ensure text color is visible */
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.weather-icon img {
  margin-bottom: 10px;
}

.weather-details {
  text-align: left;
  color: black; /* Ensure text color is visible */
  font-size: 16px; /* Ensure font size is not too small */
}