.map-container {
    height: 350px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: #f8f9fa; 
  }

  .layer-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.layer-toggle {
    display: flex;
    align-items: center;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.layer-toggle svg, .layer-toggle img {
  width: 2em;
  height: 2em;
}

.layer-toggle:hover {
    background-color: #f3f3f3;
}

.layer-dropdown {
  position: absolute; 
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  background: rgba(44, 43, 43, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  overflow: hidden;
  margin-top: 5px; 
}

.layer-dropdown button {
    padding: 8px 15px;
    border: none;
    background: none;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.layer-dropdown button:hover {
    background-color: #666666;
    border-radius: 8px;
}

.layer-dropdown button.active {
    background-color: #343434;
    color: white;
    border-radius: 8px;
    
}

  
  .leaflet-marker-icon {
    z-index: 700 !important;
  }
  
  
  .leaflet-polygon {
    z-index: 600 !important;
    stroke: #2563eb !important;
    fill-opacity: 0.1 !important;
  }
  

  .leaflet-tile-pane .leaflet-layer:last-child {
    z-index: 500 !important;
  }
  

  .leaflet-tile-pane .leaflet-layer:first-child {
    z-index: 400 !important;
  }




@media (max-width: 768px) {
  .map-container {
    height: 300px;
  }

  .layer-controls {
    top: 5px;
    right: 5px;
  }

  .layer-toggle {
    padding: 6px 10px;
    font-size: 12px;
  }
}